{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Insert Stock Symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Quantity" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
    {% if unsuccess %}
    <div id="unsuccess-message">
        {{ unsuccess|safe }}
    </div>
    {% endif %}

    {% if success %}
    <div id="success-message">
        {{ success|safe }}
    </div>
    {% endif %}

{% endblock %}
