{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="stock" placeholder="Insert Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>

    <div class="section">
        <h2>Quote</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ quotes.symbol }}</td>
                    <td>{{ usd(quotes["price"]) }}</td>
            </tbody>
        </table>
    </div>
{% endblock %}
